@font-face {
    font-family: 'Press Start 2P';
    src: url(fonts/PressStart2P-Regular.ttf)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

.container {
    max-width: 1440px;
    min-width: 1230px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    height: 36px;
    line-height: 36px;
    background: #2D2D2D;
    border-bottom: 1px solid #1a1a1a;
}

h1 {
    font-family: 'Press Start 2P';
    font-size: 19px;
    margin-left: 6px;
}

nav {
    display: flex;
}

header .nav-button { 
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    border-style: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: gold;
    transition: 0.3s background-color;
    margin: 6px 6px 6px 0;
}

header .nav-button:hover {
    background-color: white;
}

.about-app {
    background: url(images/background.png);
}

.about-app .container {
    display: flex;
    height: 465px;
    padding: 20px;
}

.about-app__text {
    padding: 40px 30px 0 0;
}

.about-app__text h2{
    font-weight: 400;
    font-size: 38px;
}

.about-app__text p{
    font-size: 20px;
    color: #ccc;
    margin: 20px 0;
}

.about-app .screenshot {
    width: 750px;
    border-radius: 5px;
    box-shadow: -5px 5px 15px 0px rgba(0,0,0,0.75);

}

.about-app .nav-button {
    height: 50px;
    line-height: 50px;
    color: #333;
    background: gold;
    font-size: 1.3em;
    text-shadow: none;
    text-decoration: none;
    transition: 0.3s background-color;
    border-style: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
    padding: 0 10px;
} 

.about-app .nav-button:hover {
    background-color: white;
}

.examples {
    position: relative;
    height: 220px;
    background: url(images/background.png);
    z-index: -1;
}

.examples::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: -1;
}

.examples .container {
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.examples h2 {
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 10px;
    text-shadow: none;
}

.examples p {
    font-size: 14px;
}

canvas {
    width: 116px;
    height: 116px;
    border: 3px solid #888;
    border-radius: 2px;
    margin: 10px 5px 0 0;
}

.about-author {
    position: relative;
    height: 250px;
    background: url(images/background.png);
}

.about-author .wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.65);
}

.about-author .about-text {
    width: 450px;
}

.about-author h2 {
    margin-bottom: 10px;
}

.about-author .about-text img{
    float: left;
    width: 70px;
    border-radius: 50px;
    margin: 5px 10px 0 0 ;
}

.about-author .about-text p{
    line-height: 27px;
    font-size: 16px;
}

.about-author .about-text a {
    cursor: pointer;
}

.about-author .about-text a:hover {
    opacity: 0.5;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #111;
    height: 118px;
}

footer img {
    height: 30px;
    margin-bottom: 10px; 
}

